
@{
    ViewBag.Title = "_AdminLayout";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Quan tri Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    @RenderSection("Styles")
    @RenderSection("Scripts")

</head>

<body class="sticky-header left-side-collapsed" onload="initMap()">
    <section>
        <!-- left side start-->
        @{Html.RenderPartial("_PartialLeftMenu");}
        <!-- left side end-->
        <!-- main content start-->
        <div class="main-content main-content2 main-content2copy">
            <!-- header-starts -->
            @{Html.RenderPartial("_PartialHeader");}
            <!-- //header-ends -->
            <!-- start body-->
            
                @RenderBody()
            
            <!-- end body-->
            <!--footer section start-->
           @* <footer>
                <p>&copy 2015 Easy Admin Panel. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
            </footer>*@
            <!--footer section end-->
        </div>
    </section>
    @RenderSection("JsFooter")
</body>
</html>
