
@{
    ViewBag.Title = "Index";
}
@section Styles{
    @Styles.Render("~/Content/HomepageCss")
}
@section Scripts{
    @Scripts.Render("~/Content/HomepageJs")
}

@section JsFooter{


}
<!--banner-->
<div class="banner">
    <div class="container">
        <h2 class="hdng">Yummy <span>Cakes</span> for u
        </h2>
        <p>Our best cakes make your day special</p>
        <a href="/HpShowProduct/Index">SHOP NOW</a>
        <div class="banner-text">
            <img src="/Content/Customer/images/2.png" alt=""/>
        </div>
    </div>
</div>
<!--//banner-->





<!--subscribe-->
<div class="subscribe">
    <div class="container">
        <h3>Newsletter</h3>
        <form>
            <input type="text" class="text" value="Email" placeholder="Email">
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>
<!--//subscribe-->